/* This separate css file eventually became necessary to control the arraingement of 
pictures. I could not inspect and/or identify which row(s) to classify without flex
but I also did not want to affect other pages.   */

@media (max-width: 768px) {

    .row {
      flex-wrap: nowrap;
    }
}