 body, html {
      background-image: url(../images/gravel.png);
      height: 100%;  /*flex container*/
  }
  
  li.port, li.about {
    border-right: 2px solid  rgba(119,119,119, 0.2); 
    line-height: 3px;
  }

  .flex-container {
    flex: 1 0 auto;
  }


  /* index.html */
  #avatar {
      height: 180px;
      width: auto;
  }

  .bio {
      font-size: 180%;
      color: #777777;
      margin: 15px;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  

  #name, #email, #message {
      border: 1px solid  rgba(138,130,129, 0.3); /*Opacity would effect text.*/
}

    /* portfolio.html */
  .portpic {
    height: 220px; 
    width: auto;
}
 
    /* footer */
   footer {
      top: 75px;
      position: relative;
      border-top: 8px solid #58B1B6;
      flex-shrink: 0; /*for the flex container*/
  }

  .copy {
    position: relative;
    top: 25px;
  }


  /* Media Queries */
  @media (max-width: 48em) {

    .container {
      margin: 0;
      padding: 0;
    }
    .navbar {
      flex-direction: row;
    }
    li {
      float: center;
    }
    .bio {
      font-size: 100%;
      color: black;
    }
    .mp_0 {
      padding: 0;
      margin: 0;
    }

    #avatar {
      height: 120px;
      width: auto;
    }

    .justify-content-end {
      display: block;
  }

  ul {
    padding: 0;
  }
}

  /* Media Queries */
  @media (max-width: 62em) {

    .container {
      margin: 0;
      
    }
    p.one {
      padding-left: 60pt;
    }
    .navbar {
      flex-direction: row;
    }
  
    .mp_0 {
      padding: 0;
      margin: 0;
    }
    .bio {
      font-size: 140%;
      color: black;
      margin-left: 10pt;
    }
    
     ul {
       float: left;
     }

     #avatar {
      height: 180px;
      width: auto;
    }
  }