 body, html {
      background-image: url(../images/gravel.png);
      height: 100%;  /*flex container*/
  }
  
  li.port, li.about {
    border-right: 2px solid  rgba(119,119,119, 0.2); 
    line-height: 3px;
  }

  .flex-container {
    flex: 1 0 auto;
  }


  /* index.html */
  #avatar {
      height: 180px;
      width: auto;
  }

  .bio {
      font-size: 180%;
      color: #777777;
      margin: 15px;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  

  #name, #email, #message {
      border: 1px solid  rgba(145, 108, 103, 0.3); /*Opacity would effect text.*/
}

    /* portfolio.html */
  .portpic {
    height: 220px; 
    width: auto;
}
 
    /* footer */
   footer {
      top: 75px;
      position: relative;
      border-top: 8px solid #58B1B6;
      flex-shrink: 0; /*for the flex container*/
  }

  .copy {
    position: relative;
    top: 25px;
  }


  /* Media Queries mostly setup at bootstrap breakpoints*/

  @media (max-width: 1200px) {
    .portpic {
      height: 190px; 
      width: auto;
  }

  }
  @media (max-width: 992px) {
    p.bio {
    font-size: 140%;
    }

    p.one {
      padding-left: 60pt;
    }

    .portpic {
      height: 140px; 
      width: auto;
  }
  }

  @media (max-width: 768px) {

    .container {
      padding: 0;
    }
    p.one {
      padding: 0;
      margin-left: 0rem!important; /*override bootstrap*/
    }
    .justify-content-end {
      display: block;
    } 

    p.bio {
      font-size: 120%;
    }
  
    .cntr {
      align-items: center;
      justify-content: center;
      display: flex;
    } 
     h2 {
      text-align: center;
    }
    
     ul {
       padding-left: 0;
     }
     .portpic {
      height: 140px; 
      width: auto;
  } 
  }


  @media (max-width: 640px) {

    .container {
      padding: 0;
      margin: 0;
    }
    
    .bio {
      font-size: 100%;
      color: black;
    }

    p.one {
      margin-left: 10px!important; /*override bootstrap*/
    }
    
  }

  